body,
html {
    scroll-behavior: smooth;
    background: #ddeedd;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

h2 {
    margin-top: -60px;
    padding-top: 60px;
}

.navigation {
    background-color: transparent !important;
}

.navigation.scrolled {
    background: rgba(0, 0, 0, 0.5) !important;
}

/*parallax section*/

.parallax {

    background-image:
        linear-gradient(249deg, rgba(251, 251, 251, 0) 30%, rgba(244, 244, 244, 1) 95%),
        url(../img/antioxidant-3483929__340.jpg);

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -22;
    top: 0;

    @media (max-width: 480px) {

        .parallax {

            background-attachment: inherit;
        }
    }
}

img {
    max-width:100%;
    max-height:100%;
}

.fluid {
    max-width: 100%;
    height: auto;
}

/*parallax section*/

#about {
    padding-top: 25px;
    padding-bottom: 15px;
}

#benefits {
    padding-top: 25px;
    padding-bottom: 15px;
}

#application {
    padding-top: 25px;
    padding-bottom: 15px;
}

#contact {
    padding-top: 25px;
    padding-bottom: 15px;
}

.navigation .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.navigation .navbar-brand .navigation.scrolled {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.navigation .nav-item .nav-link {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

@media (max-width: 480px) {

    .parallax {

        background-attachment: inherit;
    }
}

/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background-color: rgb(68, 68, 68);
    /* IE */
    background-color: transparent;
    /* NON-IE */
}